<!DOCTYPE html>
<html>
<head>
    <title> 잘 도착했지롱 🌈 </title>
    <style>
        .matrix {
            display: block;
            margin-bottom: 20px;
        }
        .category {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
        }
        .category h3 {
            margin-top: 0;
        }
        .sub-category {
            /* display: inline-block; */
            vertical-align: top;
            width: 45%;
            margin-right: 5%;
        }
        .sub-category:last-child {
            margin-right: 0;
        }
    </style>
</head>
<body>
    <h1> 잘 도착했지롱 🌈 </h1>
    <h3>여행 기간: {{ ' - '.join(date_range) }}</h3>

    <div class="matrix">
        <div class="category">
            <h3>항공권</h3>
            <div class="sub-category", name="항공권_to">
                <h4>가는 편</h4>
                <table>
                    <thead>
                        <tr>
                            {% if data['항공권_to']|length > 0 %}
                            <th>선택</th>
                            {% for key in data['항공권_to'][0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if data['항공권_to']|length > 0 %}
                        {% for item in data['항공권_to'] %}
                        <tr>
                            <td>
                                <input type="radio" id="항공권_to{{ loop.index }}" name="항공권_to" value="{{ item }}">
                            </td>
                            {% for item_value in item.values() %}
                            <td>{{ item_value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="sub-category", name="항공권_from">
                {% if data['항공권_from']|length > 0 %}
                <h4>오는 편</h4>
                <table>
                    <thead>
                        <tr>
                            <th>선택</th>
                            {% for key in data['항공권_from'][0].keys() %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if data['항공권_from']|length > 0 %}
                        {% for item in data['항공권_from'] %}
                        <tr>
                            <td>
                                <input type="radio" id="항공권_from{{ loop.index }}" name="항공권_from" value="{{ item }}">
                            </td>
                            {% for item_value in item.values() %}
                            <td>{{ item_value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <div class="category", name="호텔">
            <h3>숙박시설</h3>
            <table>
                <thead>
                    <tr>
                        <th>선택</th>
                        {% if data['호텔']|length > 0 %}
                        {% for key in data['호텔'][0].keys() %}
                        <th>{{ key }}</th>
                        {% endfor %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if data['호텔']|length > 0 %}
                    {% for item in data['호텔'] %}
                    <tr>
                        <td>
                            <input type="radio" id="호텔{{ loop.index }}" name="호텔" value="{{ item }}">
                        </td>
                        {% for item_value in item.values() %}
                        <td>{{ item_value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="category", name="렌트카">
            <h3>렌터카</h3>
            <table>
                <thead>
                    <tr>
                        <th>선택</th>
                        {% if data['렌트카']|length > 0 %}
                        {% for key in data['렌트카'][0].keys() %}
                        <th>{{ key }}</th>
                        {% endfor %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if data['렌트카']|length > 0 %}
                    {% for item in data['렌트카'] %}
                    <tr>
                        <td>
                            <input type="radio" id="렌트카{{ loop.index }}" name="렌트카" value="{{ item }}">
                        </td>
                        {% for item_value in item.values() %}
                        <td>{{ item_value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <button class="submit" onclick="submit()">선택완료</button>

    <form id="myForm" method="get" style="display: none;" action="/3페이지">
        <input type="text" name="input_data" id="inputData">
        <input type="text" name="date_range" id="dateRange">
    </form>

    <script>
        function submit() {
            const selectedItems = {};
            var categories = ['항공권_to', '항공권_from', '호텔', '렌트카'];
            for (var i = 0; i < categories.length; i++) {
                var radios = document.getElementsByName(categories[i]);
                for (var j = 0; j < radios.length; j++) {
                    var radio = radios[j];
                    if (radio.checked) {
                        selectedItems[categories[i]] = radio.value;
                        break;
                    }
                }
            }
            console.log(selectedItems);
            document.getElementById("inputData").value = JSON.stringify(selectedItems);
            document.getElementById("dateRange").value = "{{ date_range }}"
            document.getElementById("myForm").submit();
        }
    </script>
</body>
</html>
