<!DOCTYPE html>
<html>
<head>
    <title> 잘 도착했지롱 🌈 </title>
    <style>
        .matrix {
            display: block;
            margin-bottom: 20px;
        }
        .category {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
        }
        .category h3 {
            margin-top: 0;
        }
        .sub-category {
            display: inline-block;
            vertical-align: top;
            width: 45%;
            margin-right: 5%;
        }
        .sub-category:last-child {
            margin-right: 0;
        }
    </style>
</head>
<body>
    <h1> 잘 도착했지롱 🌈 </h1>

    <div class="matrix">
        <div class="category">
            <h3>항공권</h3>
            <div class="sub-category">
                <h4>가는 편</h4>
                <table><tr><th>항공사</th><th>좌석정보</th><th>성인 금액</th><th>출발 시각</th><th>출발 공항(영어)</th><th>도착 공항(영어)</th><th>출발 날짜</th><th>도착 날짜</th><th>Comeback 여부</th><th>소아 금액</th><th>출발 공항(한국어)</th><th>도착 공항(한국어)</th><th>금전상황</th></tr>

                {% for item in data['항공권_to'] %}
                <table><tr><td><input type="radio" id="flightOut{{ loop.index }}" name="flightOut" value="{{ item }}"></td>{% for cell in item %}<td>{{ cell }}</td>{% endfor %}</tr></table><br>
                {% endfor %}
            </table>
            </div>
            <div class="sub-category">
                <h4>오는 편</h4>
                <table><tr><th>항공사</th><th>좌석정보</th><th>성인 금액</th><th>출발 시각</th><th>출발 공항(영어)</th><th>도착 공항(영어)</th><th>출발 날짜</th><th>도착 날짜</th><th>Comeback 여부</th><th>소아 금액</th><th>출발 공항(한국어)</th><th>도착 공항(한국어)</th><th>금전상황</th></tr>

                {% for item in data['항공권_from'] %}
                <table><tr><td><input type="radio" id="flightBack{{ loop.index }}" name="flightBack" value="{{ item }}"></td>{% for cell in item %}<td>{{ cell }}</td>{% endfor %}</tr></table><br>
                {% endfor %}
            </table>
            </div>
        </div>
        <div class="category">
            <h3>숙박시설</h3>
            <table><tr><th>숙박시설명</th><th>지역</th><th>평점</th><th>금액</th><th>시작 날짜</th><th>끝 날짜</th><th>인원 수</th><th>구체 지역명</th><th>금전상황</th></tr>

            {% for item in data['호텔'] %}
            <table><tr><td><input type="radio" id="hotel{{ loop.index }}" name="hotel" value="{{ item }}"></td>{% for cell in item %}<td>{{ cell }}</td>{% endfor %}</tr></table><br>
            {% endfor %}
        </div>
        <div class="category">
            <h3>렌트카</h3>
            <table><tr><th>차종</th><th>브랜드</th><th>인승</th><th>연료</th><th>오토/스틱</th><th>렌트카 회사</th><th>나이 제한</th><th>운전 경력</th><th>연식</th><th>평점</th><th>리뷰 수</th><th>가격</th><th>시작 날짜</th><th>끝 날짜</th><th>금전상황</th></tr>

            {% for item in data['렌트카'] %}
            <table><tr><td><input type="radio" id="rental{{ loop.index }}" name="rental" value="{{ item }}"></td>{% for cell in item %}<td>{{ cell }}</td>{% endfor %}</tr></table><br>
            {% endfor %}
        </div>
    </div>

    <button class="submit" onclick="submit()">선택완료</button>

    <form id="myForm" method="get" style="display: none;" action="/3페이지">
        <input type="text" name="input_data" id="inputData">
        <input type="text" name="date_range" id="dateRange">
    </form>

    <script>
        function submit() {
            const selectedItems = {};
            var categories = ['flightOut', 'flightBack', 'hotel', 'rental'];
            for (var i = 0; i < categories.length; i++) {
                var radios = document.getElementsByName(categories[i]);
                for (var j = 0; j < radios.length; j++) {
                    var radio = radios[j];
                    if (radio.checked) {
                        selectedItems[categories[i]] = radio.value;
                        break;
                    }
                }
            }
            console.log(selectedItems);
            document.getElementById("inputData").value = JSON.stringify(selectedItems);
            document.getElementById("dateRange").value = "{{ date_range }}"
            document.getElementById("myForm").submit();
        }
    </script>
</body>
</html>
