<html>
<body>
   <h2>Program to stop form refreshing page on submit in JavaScript using <i>event.preventDefault()</i></h2>
   <form id="formId">
      Name: <input type="text" name="name" required/><br><br> Email: <input type="email" name="email" required/><br><br>
      <input type="submit" value="Submit!" />
   </form>
   <p id="opTag"></p>
   <script>
      var form = document.getElementById("formId");
      var opTag = document.getElementById("opTag");
      function submitForm(event) {
         event.preventDefault();
         form.style.display = "none";
         opTag.innerHTML = "<b>Form submit successful</b>";
      }
      form.addEventListener('submit', submitForm);
   </script>
</body>
</html>